@{
    ViewData["Title"] = "Inicio";
}

<div class="p-5 mb-4 bg-light rounded-3 border">
    <div class="container-fluid py-4">
        <h1 class="display-6 fw-bold">Sistema de Gestión Académica</h1>
        <p class="col-md-8 fs-5">
            Proyecto MVC con herencia, tuplas, repositorio genérico, EF Core, seguridad y JSON.
        </p>
        <a class="btn btn-primary btn-lg" asp-controller="Cursos" asp-action="Index">Ver cursos</a>
    </div>
</div>
