@model AcademicManagementSystem.ViewModels.RegistroViewModel

<h2>Registro de Usuario (Prueba Rúbrica)</h2>

<form asp-action="Index" method="post">

    <input asp-for="Nombre" placeholder="Nombre" />
    <br />

    <input asp-for="Documento" placeholder="Documento" />
    <br />

    <input asp-for="Edad" type="number" placeholder="Edad" />
    <br />

    <select asp-for="TipoUsuario">
        <option value="Docente">Docente</option>
        <option value="Estudiante">Estudiante</option>
    </select>

    <br /><br />

    <button type="submit">Registrar</button>

</form>